@model IEnumerable<DevIO.App.ViewModels.ProviderViewModel>

@{
    ViewData["Title"] = "Lista de Fornecedores";
}

<h1>@ViewData["Title"]</h1>

@await Component.InvokeAsync("GridView", new
{
    HeaderColumns = new string[] { "Nome", "Documento", "Ativo?" },
    DisplayColumns = new string[] { "Name", "Document", "Active" },
    Url = "Provider/GetFilteredItems",
    ReadOnly = false,
    PageSize = 10,
    Controller = "Provider",
    Exporting = true
})


@section Scripts{

    <script>
        $(document).ready(function () {
            initializeDataTable();
        });
    </script>

}